    /* background-color: 032e3d; ciemno niebieski */
    /* background-color: #2B7A78; */
    /* background-color: #3AAFA9; */
    /* background-color: #DEF2F1 */
    /* background-color: #FEFFFF    bialy*/
    /* rgb(22, 33, 36) */
    /* #343633 black olive */
html ,body  
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #032e3d ;
    color: #fff;
    font-size: 110%;
}
